<<<<<<< HEAD
  html, body { 
    margin: 0;
    padding: 0;
    height: 100%;
    }

    h1{
    padding-top: 4rem;
    padding-left: 40rem;
    position: fixed;
    text-align: center;
    font-size: 70px;
    color: #348a47;
    font-family: fantasy;
   text-shadow: 
        -2px -2px 0 #000000,  
         2px -2px 0 #000,  
        -2px  2px 0 #000,  
         2px  2px 0 #000,
         0px  0px 3px #000; /* optional blur */
}

#startButton{
    padding-top: 20rem;
    padding-left: 2rem;
}

button {
    background-color: #348a47;
    
    position: sticky;
    color: white;
    font-size: 60px;
    padding: 10px 20px;
    margin-left: 870px;
    border-color: black;
    cursor: pointer;
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
     background-color: #3ea374;
}
=======
/* Global Stylesheet 
    Author: Caoimhe O'Brien, Aoife Leahy and Natalia Ryl 
    Date: 08/10/2025

    Styles for: 
    Index (opening page) 
    Puzzle Page
*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*INDEX STYLES*/ 

/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*PUZZLE PAGE STYLES*/
#canvasDiv{
    margin-top: 2%;
    margin-left: 10%;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------*/
>>>>>>> fa3e3dfc3a38db918ec69f31d2c46a95be552c22

